html, body, .col, .foot-col {
    margin: 0;
    padding: 0;
}

body
{
    background-color: #1C1C1C;
}

/* General settings */

.container
{
    width: 75%;
    height: 70%;

    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;

    margin: auto;

    border: 2px rgba(255, 0, 0, 0.444) solid;
}


header, footer, main, #addHere, #footer-input
{    
    display: flex;
}

header, footer, #generator, header > button, header > input
{
    background-color: white;
}

/* --- END --- */


/* --- Header settings --- */

header
{
    justify-content: space-around;
    align-items: center;

    min-height: 13%;
}

#generator, header > button, header > input
{
    height: 60%;
    border-radius: 4px;
    border: 2px solid grey;

    cursor: pointer;
}

header > button:hover, header > input:hover
{
    background-color: greenyellow;
    color: darkblue;
    text-shadow: 1px 1px black;
}

#generator
{
    width: 40%;
}

header > button
{
    width: 30%;
}

/* --- END --- */


/* --- Main settings --- */

main
{
    height: 77%;
    flex-direction: row;
}

#addHere
{
    width: 100%;
}

.col
{
    width: 20%;
    height: 100%;
}

.hexCode {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- END --- */


/* --- Footer settings --- */

footer
{
    justify-content: space-around;
    min-height: 10%;
}

footer > p:hover
{
    color: slateblue;
    cursor: pointer;
}

/* --- END --- */

@media screen and (max-width: 1045px) {
    .container {
        height: 75%;
    }
    header {
        height: 20%;
    }
}

@media screen and (max-width: 630px) {
    .container {
        width: 95%;
    }
}

@media screen and (max-height: 650px) {
    .container {
        height: 85%;
    }
}
@media screen and (max-height: 450px) {
    .container {
        height: 95%;
    }
    header {
        height: 25%;
    }
    main {
        height: 50%;
    }
    footer {
        height: 25%;
    }
}